body {
  background-color: blanchedalmond;
}
.container {
  max-width: 500px;
  background-color: white;
  position: relative;
  height: auto;
  border-radius: 5px;
  margin-bottom: 60px;
}
.image {
  max-width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}
h2 {
  color: rgb(207, 103, 103);
}
h4 {
  color: rgb(245, 162, 174);
}
p {
  text-align: center;
}
.Preparation {
  background-color: blanchedalmond;
  border-radius: 10px;
}
footer .social-link a {
  text-decoration: none;
  color: rgb(72, 149, 175);
  font-size: 18px;
  padding: 10px 14px;
  transition: all 100ms ease-in-out;
  border-radius: 30px;
}
footer .social-link a:hover {
  color: rgb(64, 202, 117);
  background-color: rgb(235, 89, 137);
}
